*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box{
    height: 200px;
    width: 200px;
}

.box1{
    background-color: yellow;
    position: absolute;
    top: 20px;
    left: 20px;
}

.box2{
    background-color: green;
    position: absolute;
    top: 5px;
    left: 5px;
    
}

.relativ{
    width: 300px;
    height: 200px;
}

.box3{
    background-color: gray;
    position: relative;
    bottom: 20px;
    right: 20px;
}


.fix{
    width: 100px;
    height: 50px;
    position: fixed;
    background-color:pink;
}

.box11{
    margin: 20px 20px;
    padding: 20px;
}
.email{
    width: 300px;
    height: 50px;
    position: relative;
}
.fix1{
    position: absolute;
    left: 220px;
    height: 40px;
    width: 100px;
    background-color:red;
    border: none;
    margin: 5px;
    color: gold;
    
}

.fix1:hover{
    background-color: gold;
    color: red;
}