* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* proper with selecters */

.card .product-item {
    text-align: center;
    width: 26.669%;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
}

.card .container {
    display: flex;
    flex-wrap: wrap;
}

.card .product-item .product-image {
    margin: 5px;
}

.product-item h2 {
    margin-bottom: 5px;
}

.product-item span {
    margin-bottom: 5px;
}

.product-item p {
    margin-bottom: 5px;
}

.product-item a {
    width: 100%;
    background-color: gray;
    padding: 5px;
}

.product-image .rating {
    margin-bottom: 5px;
}

.rating .yellow {
    color: gold;
}

.rating .notyellow {
    color: gray;
}