*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    height: 600px;
}

.position{
    margin: 5px;
    padding: 2px;
    background-color: blue;
    position:relative;
    top: 0px;
    height: 22px;
    width: 1140px;
}

.login{
    position: absolute;
    right:10px;
}

.singup{
    position: absolute;
    right: 60px;
}

