<style>
        p{
            color: aqua;
            font-size: 24px;
        }

    .g1{
        /*je h1 class g1 blue*/
        color: brown;
        font-size: 50px;
    }

    #heading{
        /*je h1 id heading blue*/
        color: blue;
        font-size: 60px;
    }
    h1{
        /* all h1 rad*/
        color: chocolate !important;
    }
    </style>