* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contanair{
    margin: 96px ;

}

.contanair .d-flex {
    display: flex;
    flex-wrap: wrap;
}

.contanair .w-33 {
    width: 33.33%;
}

a {
    text-decoration: none;
    display: block;
}

/*  */

.contanair .crad-item {
    margin: 50px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.crad-item img {
    border-radius: 5%;
    margin-bottom: 5px;
}

.crad-item h2 {
    margin-bottom: 5px;
}

.crad-item p {
    text-align: justify;
    margin-bottom: 5px;
    padding: 5px;
}

.crad-item .price {
    margin-bottom: 5px;
}

.crad-item .ratiing {
    margin-bottom: 5px;
}

.crad-item .ratiing .yellow{
    color: goldenrod;
}

.crad-item a {
    background-color: aqua;
    padding: 5px;
}